@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] { @media(max-width: 640px) { display: none !important;} }


.message {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
     
}